* {box-sizing: border-box;}
.item{
    width:150pt;
    heigth: 100%;
    margin: 10px;
    box-shadow: 1px 2px 4px rgba(0,0,0,0.1);
    border-radius: 4px;
    padding-top:10px;
    background: rgba(223,241,244,0.625);
}
.item:hover{
    background: rgb(207,232,237);
    box-shadow: 4px 8px 16px rgba(71,215,240);
}
.item p{
    padding-left:10px;
    padding-right:10px;
}
.item_name{
    font-size: 1.5em;
    text-align:center;
}
.item a{
    text-decoration: none;
    color: black;
    text-align: justify;
}
.items {
    width: 100%;
    display: grid;
    /*Автоматически заполняем всю ширину drib-контейнера */
    grid-template-columns: repeat(auto-fill, 200px);
    max-width: 1200px; /*ширина drib-контейнера */
    justify-content: center;
    justify-items: center;
    column-gap: 30px; /* Размещаем карточку по центру*/
    row-gap: 40px; /* Отступ между колонками*/
    margin: 0 auto; /* Отступ между рядами*/
}
.container {
    display: flex;
}
.ul_no_mark {
    list-style-type: none;
}
.div_color{
    border: 1px solid #000;
    width: 10px;
    height: 10px;
    margin-top: 3px;
    float: left;
}